@using Newtonsoft.Json;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var store = Vendr.Checkout.Web.PublishedContentExtensions.GetStore(Model);

    var currentOrder = VendrApi.Instance.GetCurrentOrder(store.Id);
    var checkoutPage = Vendr.Checkout.Web.PublishedContentExtensions.GetCheckoutPage(Model);

    var paymentCountryName = currentOrder.PaymentInfo.CountryId.HasValue
        ? VendrApi.Instance.GetCountry(currentOrder.PaymentInfo.CountryId.Value).Name
        : null;
    var shippingCountryName = currentOrder.ShippingInfo.CountryId.HasValue
        ? VendrApi.Instance.GetCountry(currentOrder.ShippingInfo.CountryId.Value).Name
        : null;

    var themeColor = Model.GetThemeColor();
}
<div>
    <div class="border border-gray-300 p-6 rounded-lg mb-8">
        <h3 class="text-xl font-medium mb-4">@Umbraco.GetDictionaryValue("Checkout.ContactInformationLabel")</h3>
        <p class="mb-4">@currentOrder.CustomerInfo.Email</p>

        <div class="flex w-full -mx-2">
            <div class="flex-1 mx-2">
                <h3 class="text-xl font-medium mb-4">@Umbraco.GetDictionaryValue("Checkout.BillingInformationLabel")</h3>
                <p class="">
                    <strong>@currentOrder.CustomerInfo.FirstName @currentOrder.CustomerInfo.LastName</strong>
                    <br />
                    @Html.Raw(string.Join("<br />", new string[] {
                        currentOrder.Properties["billingAddressLine1"],
                        currentOrder.Properties["billingAddressLine2"],
                        currentOrder.Properties["billingCity"],
                        paymentCountryName,
                        currentOrder.Properties["billingZipCode"]
                    }.Where(x => !x.IsNullOrWhiteSpace())))
                </p>
            </div>
            @if (checkoutPage.Value<bool>("vendrCollectShippingInfo"))
            {
                <div class="flex-1 mx-2">
                    <h3 class="text-xl font-medium mb-4">@Umbraco.GetDictionaryValue("Checkout.ShippingInformationLabel")</h3>
                    <p class="">
                        <strong>@currentOrder.Properties["shippingFirstName"] @currentOrder.Properties["shippingLastName"]</strong>
                        <br />
                        @Html.Raw(string.Join("<br />", new string[] {
                            currentOrder.Properties["shippingAddressLine1"],
                            currentOrder.Properties["shippingAddressLine2"],
                            currentOrder.Properties["shippingCity"],
                            shippingCountryName,
                            currentOrder.Properties["shippingZipCode"]
                        }.Where(x => !x.IsNullOrWhiteSpace())))
                    </p>
                </div>
            }
        </div>
    </div>

    <button data-ajax-link="@(Model.Url)?step=1" class="bg-@(themeColor) text-white px-4 py-4 w-full rounded hover:bg-gray-900" type="button"
            data-method="ProductCheckout"
            data-pagetype="@Umbraco.AssignedContentItem.ContentType.Alias"
            data-currency="@Umbraco.AssignedContentItem.GetCurrency()"
            data-step="2"       
            data-option="@Umbraco.GetDictionaryValue("Checkout.ChangeDetailsLabel")"
            >
        @Umbraco.GetDictionaryValue("Checkout.ChangeDetailsLabel")
    </button>
</div>