@using Newtonsoft.Json;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var themeColor = Model.GetThemeColor();
    var store = Vendr.Checkout.Web.PublishedContentExtensions.GetStore(Model);   
}
<div>
    <div class="border border-gray-300 rounded-lg mb-4">
        <label class="flex items-center cursor-pointer font-bold px-4 py-3">
            <input id="acceptTerms" type="checkbox" value="1" class="mr-3" />
            <span class="font-medium">@Html.Raw(Umbraco.GetDictionaryValue("Checkout.IAgreeAndAcceptTheSitesTermsOfServiceLabel"))</span>
        </label>
    </div>

    <button id="continue-payment" data-ajax-pay class="bg-@(themeColor) text-white px-4 py-4 w-full rounded hover:bg-gray-900" type="submit" disabled="disabled"
            data-method="ProductCheckout"
            data-pagetype="@Umbraco.AssignedContentItem.ContentType.Alias"
            data-currency="@Umbraco.AssignedContentItem.GetCurrency()"
            data-step="5"
            data-option="@Umbraco.GetDictionaryValue("Checkout.MakePaymentLabel")"
            >
        @Umbraco.GetDictionaryValue("Checkout.MakePaymentLabel")
        </button>

        <div id="ajax-payment-form" class="hidden"></div>
    </div>