@using Vendr.Checkout;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var store = Vendr.Checkout.Web.PublishedContentExtensions.GetStore(Model);
    var currentOrder = VendrApi.Instance.GetCurrentOrder(store.Id);
    var paymentCountry = currentOrder.PaymentInfo.CountryId.HasValue
        ? VendrApi.Instance.GetCountry(currentOrder.PaymentInfo.CountryId.Value)
        : null;
    var paymentMethods = VendrApi.Instance.GetPaymentMethodsAllowedIn(currentOrder.PaymentInfo.CountryId.Value);

    var checkoutPage = Vendr.Checkout.Web.PublishedContentExtensions.GetCheckoutPage(Model);
    var nextStepPage = Model.GetNextStepPage();

    var currentPaymentMethodId = currentOrder.PaymentInfo.PaymentMethodId;

    var zeroValuePaymentMethod = paymentMethods.FirstOrDefault(x => x.Alias == VendrCheckoutConstants.PaymentMethods.Aliases.ZeroValue);
}

@using (Html.BeginUmbracoForm("UpdateOrderPaymentMethod", "VendrCheckoutSurface", null, new { @class = "mb-0", data_ajax_form = 1, data_ajax_view = Model.Url() + "?step=2" }, FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <h3 class="text-xl font-medium mb-4">@Umbraco.GetDictionaryValue("Checkout.PaymentMethodLabel")</h3>

    if (currentOrder.TotalPrice.Value.WithTax > 0 || zeroValuePaymentMethod == null)
    {
        <ul class="border border-gray-300 rounded-lg">
            @foreach (var item in paymentMethods.Where(x => zeroValuePaymentMethod == null || x.Alias != zeroValuePaymentMethod.Alias)
            .Select((pm, i) => new { PaymentMethod = pm, Index = i }))
            {
                <li class="border-gray-300 @(item.Index > 0 ? " border-t " : " ")"                                    
                    >

                    <label class="flex items-center py-4 px-4 cursor-pointer">
                        <input name="paymentMethod" type="radio" value="@item.PaymentMethod.Id" id="@(item.PaymentMethod?.Name?.ToFriendlyName().RemoveReturnsAndWhiteSpace())" class="mr-3" @Html.Raw(currentPaymentMethodId == item.PaymentMethod.Id ? "checked=\" checked\"" : "") required data-ajax-radio                               
                              
                    data-method="ProductCheckout"
                    data-pagetype="@Umbraco.AssignedContentItem.ContentType.Alias"
                    data-currency="@Umbraco.AssignedContentItem.GetCurrency()"
                    data-step="4"
                    data-option="@item.PaymentMethod.Name"
                               />
                        <span class="font-medium payment-provider-text">@(item.PaymentMethod.Name)</span>

                        @if (item.PaymentMethod.Name.ToLower().Contains("interest free"))
                        {
                            <div class="payment-provider">
                                <img src="/assets/PaymentProvider/klarna.png" class="payment-provider-icon">
                            </div>
                        }
                        else if (item.PaymentMethod.Name.ToLower().Contains("credit card"))
                        {
                            <div class="payment-provider">
                                <img src="~/assets/PaymentProvider/visa.png" class="payment-provider-icon" />
                                <img src="~/assets/PaymentProvider/mastercard.png" class="payment-provider-icon" />
                                <img src="~/assets/PaymentProvider/americanexpress.png" class="payment-provider-icon" />
                            </div>
                        }

                        @*<span class="flex-1 text-right">@(item.PaymentMethod.CalculatePrice()?.Formatted())</span>*@

                    </label>
                </li>
            }
        </ul>
    }
    else
    {
        <input type="hidden" name="paymentMethod" value="@(zeroValuePaymentMethod.Id)" />
        <div class="border border-gray-300 rounded py-4 px-4 text-center">@Umbraco.GetDictionaryValue("Checkout.NoPaymentNeededLabel")</div>
    }

    <button type="submit" class="hidden">Submit</button>
}